// *colors
$colors: (
  black,
  white,
  gray,
  silver,
  maroon,
  red,
  purple,
  fuchsia,
  green,
  lime,
  olive,
  yellow,
  navy,
  blue,
  teal,
  aqua,
  aliceblue,
  antiquewhite,
  aqua,
  aquamarine,
  azure,
  beige,
  bisque,
  blanchedalmond,
  blueviolet,
  brown,
  burlywood,
  cadetblue,
  chartreuse,
  chocolate,
  coral,
  cornflowerblue,
  cornsilk,
  crimson,
  cyan,
  darkblue,
  darkcyan,
  darkgoldenrod,
  darkgray,
  darkgreen,
  darkkhaki,
  darkmagenta,
  darkolivegreen,
  darkorange,
  darkorchid,
  darkred,
  darksalmon,
  darkseagreen,
  darkslateblue,
  darkslategray,
  darkturquoise,
  darkviolet,
  deeppink,
  deepskyblue,
  dimgray,
  dodgerblue,
  firebrick,
  floralwhite,
  forestgreen,
  gainsboro,
  ghostwhite,
  gold,
  goldenrod,
  greenyellow,
  honeydew,
  hotpink,
  indianred,
  indigo,
  ivory,
  khaki,
  lavender,
  lavenderblush,
  lawngreen,
  lemonchiffon,
  lightblue,
  lightcoral,
  lightcyan,
  lightgoldenrodyellow,
  lightgray,
  lightgreen,
  lightpink,
  lightsalmon,
  lightseagreen,
  lightskyblue,
  lightslategray,
  lightsteelblue,
  lightyellow,
  limegreen,
  linen,
  magenta,
  mediumaquamarine,
  mediumblue,
  mediumorchid,
  mediumpurple,
  mediumseagreen,
  mediumslateblue,
  mediumspringgreen,
  mediumturquoise,
  mediumvioletred,
  midnightblue,
  mintcream,
  mistyrose,
  moccasin,
  navajowhite,
  oldlace,
  olivedrab,
  orange,
  orangered,
  orchid,
  palegoldenrod,
  palegreen,
  paleturquoise,
  palevioletred,
  papayawhip,
  peachpuff,
  peru,
  pink,
  plum,
  powderblue,
  rosybrown,
  royalblue,
  saddlebrown,
  salmon,
  sandybrown,
  seagreen,
  seashell,
  sienna,
  skyblue,
  slateblue,
  slategray,
  snow,
  springgreen,
  steelblue,
  tan,
  thistle,
  tomato,
  turquoise,
  violet,
  wheat,
  whitesmoke,
  yellowgreen,
  rebeccapurple
);

// *Background positions
$bg-positions: left, center, right, top, bottom;
// *Background sizes
$bg-sizes: auto, cover, contain;
// *Background repeats
$bg-repeats: repeat, no-repeat, repeat-x, repeat-y;
// *Background attachments
$bg-attachments: scroll, fixed, local;
// *alignment values
$alignments: left, right, center, justify;
// * Blend mode values
$blend-modes: normal, multiply, screen, overlay, darken, lighten, color-dodge,
  color-burn, hard-light, soft-light, difference, exclusion;
// * border-styles values
$border-styles: solid, dashed, dotted, double, groove, ridge, inset, outset;
// *maximum border width
$max-border-width: 1000px;
// *maximum border width
$max-border-radius: 1000px;
// *box shadow styles
$box-shadows: (
  "sm": (
    1px,
    1px,
    2px,
    0px,
    rgba(0, 0, 0, 0.1),
    false,
  ),
  "md": (
    3px,
    3px,
    6px,
    0px,
    rgba(0, 0, 0, 0.15),
    false,
  ),
  "lg": (
    5px,
    5px,
    10px,
    0px,
    rgba(0, 0, 0, 0.2),
    false,
  ),
  "xl": (
    8px,
    8px,
    16px,
    2px,
    rgba(0, 0, 0, 0.25),
    false,
  ),
  "inset": (
    2px,
    2px,
    4px,
    0px,
    rgba(0, 0, 0, 0.3),
    true,
  ),
);

// *displays
$displays: block, inline, inline-block, flex, grid, none, table, table-cell,
  run-in;
// *Flexbox properties
$flex-directions: row, row-reverse, column, column-reverse;
$justify-content: flex-start, flex-end, center, space-between, space-around;
$align-items: stretch, flex-start, flex-end, center, baseline;
$align-content: flex-start, flex-end, center, space-between, space-around;
$flex-wrap: nowrap, wrap, wrap-reverse;
$flex-grow: 0, 1; 
$flex-shrink: 0, 1; 
$order: 0, 1, 2, 3, 4, 5;