@use "../Utils/variables.scss" as *;

// *Mixin for border
@mixin border-classes {
  // *loop for border color
  @each $color in $colors {
    .border-#{$color} {
      border-color: $color;
    }
  }
  // *loop for border styles
  @each $style in $border-styles {
    .border-#{$style} {
      border-style: $style;
    }
  }
  // *dynamically generate border width classes
  @each $key, $value in $sizes {
    .border-#{$key} {
      border-width: $value;
    }
  }
  // *dynamically generate border radius classes

  @each $key, $value in $sizes {
    .border-r-#{$key} {
      border-radius: $value;
    }
  }
}
